html, body{
    margin: 0;
    padding: 0;
    background-color: #D9D6D0;
}


header{
    margin: 5px;
    padding: 10px;
    background-color: #7283A6;
}

.icon{
    float: left;
    width: 15%;
    height: auto;
    margin: 5px;
}